{% extends 'base.html.twig' %}

{% block title %}{{lock.name}}{% endblock %}

{% block body %}

<div id="body">
  <div class="container">
    <div id="intro">{{lock.intro}}</div>
    <div id="digit" class="row align-items-center">
      <div class="m-auto" id="lock"></div>
    </div>
    <div id="soluceZone"></div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{asset('js/PatternLock.js')}}"></script>
  <script >
    var solution ='{{lock.solution}}';
    var solutionInArray = solution.split(',')
    console.log(solution)
    $(document).ready(function(){
        $('#lock').patternLock({
        centerCircle: false,
        timeout: 4000,
        centerCircleSize: 20,
        patternLineColor: '#0069d9',
        drawEnd: function(data) {
            var trying = data.split(",");
            console.log(trying)
            if (arraysAreIdentical(solutionInArray,trying)){
              if ('{{lock.url}}' == ''){
                $('#soluceZone').html('{{lock.finalTexte}}');
              }
              else{
                window.location.href = '{{lock.url}}';
              }
            }
            else{
              $('#soluceZone').append('<div id="message" class="alert alert-danger alert-dismissible fade show" role="alert">'+
              '<strong>Erreur!</strong>Schéma incorrect.'+
              '<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
              '<span aria-hidden="true">&times;</span></button></div>')
            }
        }
      });
    });
    function arraysAreIdentical(arr1, arr2){
      if (arr1.length !== arr2.length) return false;
      for (var i = 0, len = arr1.length; i < len; i++){
        if (arr1[i] !== arr2[i]){
        return false;
      }
    }
    return true;
    }
  </script>


{% endblock %}
