{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      <img class="img-fluid  mx-auto d-block" width="250px" alt="logo" src="{{ asset('logos/logo-virtualLock_logo.png') }}"></img>
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{{path('displayAllLocks')}}">Mes cadenas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Mon profil <span class="sr-only"></span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{path('addLock')}}">Nouveau cadenas </a>
    </li>
    {% if is_granted('ROLE_ADMIN') %}
    <li class="nav-item active">
      <div class="dropdown">
        <a class="nav-link dropdown-toggle active" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administration
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="{{path('displayAllUsers')}}">Utilisateurs </a>
          <a class="dropdown-item" href="{{path('registerFromAdmin')}}">Nouvel utilisateur </a>
          <a class="dropdown-item" href="{{path('parameters')}}">Paramètres</a>
        </div>
      </div>
    </li>
    {%endif%}
  </ul>
  </div>
  <div class="row justify-content-around" id="userLogOut">
  <div class="align-self-center">{{app.user.firstname}} {{app.user.name}}</div>
  <div class="align-self-center" >
    <a id="logoutLink" href="{{path('app_logout')}}" class="btn">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </a>
  </div>
  </div>
  </nav>
  <div class="card">
    <div class="card-body">
  {% for flashError in app.flashes('verify_email_error') %}
      <div class="alert alert-danger" role="alert">{{ flashError }}</div>
  {% endfor %}
  {{ form_start(registrationForm) }}
      {{ form_row(registrationForm.firstname) }}
      {{ form_row(registrationForm.name) }}
      {{ form_row(registrationForm.email) }}
      {{ form_row(registrationForm.plainPassword, {
          label: 'Password'
      }) }}
      </br>

      <button type="submit" class="btn btn-primary">Créer le compte</button>
  {{ form_end(registrationForm) }}
</div>
</div>
</div>
{% endblock %}
